<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Авторизація</title>
</head>
<body>
    <h2>Вхід в систему</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Увійти</button>
    </form>

    <form method="post">
        {% csrf_token %}
         <label for="username">Ім'я користувача:</label>
         <input type="text" name="username" required>

         <label for="password">Пароль:</label>
         <input type="password" name="password" required>

        <button type="submit">Увійти</button>
    </form>


    <p>Ще не зареєстровані? <a href="{% url 'register' %}">Зареєструватися</a></p>
</body>
</html>
